# Python
__pycache__/
*.py[cod]
*.class

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Logs e temporários
*.log
*.tmp
*.temp

# Testes e cobertura
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
